<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Agregar productos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</head>

<body>

  <div class="container">
    <div class="col">
      <div class="row">
        <div class="col-6 mt-4">

          <!-- Aquí está el formulario -->
          <h1>Agregar producto</h1>
          <form method="post" id="productoForm">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-success" type="submit">Guardar</button>
          </form>
          <div>
            <p id="mensaje"></p>
          </div>
        </div>

        <!-- Aquí está la vista de los productos -->
        <div class="col-6 mt-4">
          <h1>Lista de productos</h1>
          <div class="row" id="productos">

          </div>
        </div>

      </div>
    </div>
  </div>
  <a href="#">Ver productos</a>

  <script>

    //Vamos a enviar la información del formulario por JS
    //Necesito seleccionar el formulario (id)

    var form = document.getElementById('productoForm');
    //En este contexto el evento es el comportamiento del formulario
    form.addEventListener('submit', function (event) {
      event.preventDefault(); //No se mande el formulario tradicionalmente

      //Obtener la información del formulario
      let formData = new FormData(this);

      //Convertirla en JSON
      let jsonData = {};
      //En este caso "value" es el valor del input y "key" es el name del input
      formData.forEach((value, key) => jsonData[key] = value);

      //Envíar los datos al back de manera asincrona
      fetch('/productos/api/post/', {
        method: 'POST',
        headers: {
          'content-Type': 'application/json',
          'X-CSRFToken': getToken() // <--- Está función se hará más adelante
        },
        body: JSON.stringify(jsonData)
      })
        .then(response => response.json())
        .then(data => {
          document.getElementById('mensaje').innerText = 'Registro exitoso!';
          cargarProductos();
        })
        .catch(error => console.error('Error:', error));
    });

    //Función para obtener el token

    function getToken() {
      let cookieValue = null;
      let cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        let cookie = cookies[i].trim();
        if (cookie.startsWith('csrftoken=')) {
          cookieValue = cookie.substring('csrftoken='.length, cookie.length);
          break;
        }
      }
      return cookieValue;
    }

    //Usando fetch
    function cargarProductos() {
      //Comunicarme con un endpoint
      //URL que retorna un JSON
      fetch("/productos/api/get/")
        .then((response) => response.json())
        .then((data) => {
          let productosDiv = document.getElementById("productos");
          productosDiv.innerHTML = "";

          data.forEach((producto) => {
            productosDiv.innerHTML += `
                    <div class="col-3">
                      <strong>${producto.nombre}</strong>
                        - $${producto.precio} <br>
                        <img src="${producto.imagen}" style="width: 100px;"/> 
                        </div>
                    `;
          });
        })
        .catch((error) => console.error("Error:", error));
    }
    cargarProductos();


  </script>


</body>

</html>